# weights
f=w0=0.2
f=w1=0.2
f=w2=0.2
f=w3=0.2
f=wwp=0.1
f=wpp=0.1
f=wlm=0.5
f=wd=0.3

# other config
i=nthread=4
i=beam_size=100
i=top_k=1
i=d_limit=6

s=temp_folder=/Users/xingshi/Workspace/misc/pyPBMT/var/v1/
s=input=/Users/xingshi/Workspace/misc/pyPBMT/data/test.clean.de
s=reference=/Users/xingshi/Workspace/misc/pyPBMT/data/dev.clean.en.10
s=phrase_table=/Users/xingshi/Workspace/misc/pyPBMT/data/phrase-table-dev
s=lm_path=/Users/xingshi/Workspace/misc/pyPBMT/data/europarl.en.2gram.arpa
s=output_path=/Users/xingshi/Workspace/misc/pyPBMT/var/v1/test.predict.txt